h1,
h4,
.intro {
  text-align: center;
}

h1,
h4 {
  font-family: 'Racing Sans One', sans-serif;
}

#myform {
  width: 70%;
  margin-left: 15%;
  padding: 20px;
  border: 2px inset black;
  background-color: #cfeff7;
}

.intro {
  padding: 20px;
}
